<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h2>Create Book</h2>
            <div>
                <form action="books/create" method="post">  
                    <label for="title">Title :</label>
                    <input type="text" name="title" id="">

                    <label for="num_of_pages">Number of Pages : </label>
                    <input type="number" name="num_of_pages" id="">
                    
                    <input type="submit" value="Create">
                </form>
            </div>
            
        </div>

        <div>
            <h2>All Books</h2>
            <div>
                {% for b in all_books %}
                   <a href="/books/{{b.id}}">{{b.title}}</a> 
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="/authors">Authors</a>
</body>
</html>