<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <form action="/users/update" method="post">
        <div>
            <label for="first_name">First name</label>
            <input type="text" name="first_name" id="">
        </div>

        <div>
            <label for="last_name">Last name</label>
            <input type="text" name="last_name" id="">
        </div>

        <div>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="">
        </div>

        <input type="submit" value="Add User">

    </form>

    <a href="/">back to home page</a>
</body>
</html>