<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title>Login</title>
</head>
<body>
    <div class="bg-success">
        <h2>Login</h2>
        
            <form action="/login" method="post">
                
                <div class="mb-3">
                <label for="email">Email :</label>
                <input type="email" name="email" id="">
                </div>
                <div class="mb-3">
                <label for="password">Password : </label>
                <input type="password" name="password" id="">
                </div>
                
                <input type="submit" value="Login" class="btn-primary mt-3">
            </form>
            <small>Don't have an Account? <a href="/">Register</a></small>
    </div>
    
    
    <div class="btn-danger">
        {% with messages = get_flashed_messages() %}     
            {% if messages %}                            
                {% for message in messages %}            
                    <p>{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>